deliverables/**/*.mp3 filter=lfs diff=lfs merge=lfs -text
deliverables/**/*.png filter=lfs diff=lfs merge=lfs -text
deliverables/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
deliverables/**/*.wav filter=lfs diff=lfs merge=lfs -text
